{% extends "plantilla.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>Sobre Nosotros</h1>
        <p class="lead">Conoce más sobre nuestra misión y visión.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Misión</h2>
            <p>Nuestra misión es proporcionar soluciones innovadoras que mejoren la calidad de vida de nuestros clientes y comunidades.</p>
        </div>
        <div class="col-md-6">
            <h2>Visión</h2>
            <p>Ser líderes en el mercado, reconocidos por nuestra excelencia y compromiso con el desarrollo sostenible.</p>
        </div>
    </div>
</div><br><br>
{% endblock %}
